{% load static %}
    <img src="{% static "images/letterhead.png" %}" alt="" class="img-fluid position-absolute w-100" style="left: 0px;">
    <div class="container position-relative">
        <div class="my-5">&nbsp;</div>

        <div class="content-section smaller-text mt-5 pt-5 px-3">
            <h6 class="text-center mb-4"><u>FOREIGN EXCHANGE DEAL</u></h6>
            <div id="review-contract_heading">
            </div>

            <div id="review-summary_box">
            </div>

            <div id="review-inbound_payment">
            </div>

            <div id="review-outbound_payment">
            </div>

            <div id="review-signatures">
            </div>
        </div>
    </div>
