{% extends "layout/base.html" %}
{% load static %}
{% block title %} - {{ page_title }}{% endblock title %}

{% block content %}
    <div class="title-block">
        <div class="select-currency mr-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New Client: {{ selected_currency }}</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url "clients:new_individual" %}">Individual</a>
                    <a class="dropdown-item" href="{% url "clients:new_corporate" %}">Corporate</a>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-block">
                    <table class="table hover" id="clients-table">
                        <thead>
                            <tr>
                                <th>Client ID</th>
                                <th>Client Name</th>
                                <th>Client Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client_list_entry in clients %}
                            <tr>
                                <th scope="row">{{ client_list_entry.id }}</th>
                                <td>{{ client_list_entry.client_name }}</td>
                                <td>{{ client_list_entry.get_client_type_display }}</td>
                                <td>
                                    <a href="{% url "transactions:new_transaction" client_list_entry.id %}" class="btn btn-sm btn-oval btn-primary mx-1" title="New Transaction"><i class="fa fa-money"></i></a>
                                    <a href="{% if client_list_entry.client_type == 'I' %}{% url 'clients:edit_individual' client_list_entry.id %}{% else %}{% url 'clients:edit_corporate' client_list_entry.id %}{% endif %}" class="btn btn-sm btn-oval btn-warning mx-1" title="Edit Client Info"><i class="fa fa-edit"></i></a>
                                    <a href="{% if client_list_entry.client_type == 'I' %}{% url 'clients:beneficiaries_i' client_list_entry.id %}{% else %}{% url 'clients:beneficiaries_c' client_list_entry.id %}{% endif %}" class="btn btn-sm btn-oval btn-dark mx-1" title="International Beneficiaries"><i class="fa fa-university"></i></a>
                                    <a href="{% if client_list_entry.client_type == 'I' %}{% url 'clients:list_bank_accounts_i' client_list_entry.id %}{% else %}{% url 'clients:list_bank_accounts_c' client_list_entry.id %}{% endif %}" class="btn btn-sm btn-oval btn-info mx-1" title="Local Bank Accounts"><i class="fa fa-university"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
{% block script %}
<script>
    new DataTable("#clients-table");
</script>
{% endblock script %}
