{% extends "layout/base.html" %}
{% load static %}
{% block title %} - {{ page_title }}{% endblock title %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="" method="post">
                                {% csrf_token %}

                                <fieldset class="border my-2 px-2">
                                    <legend class="w-auto px-2"><small>Basic Information</small></legend>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>
                                                <input type="checkbox" id="legacy_id_chk" class="checkbox" onclick="toggleDivVisibility(this, 'legacy_id')" {% if formdata.legacy_id %}checked{% endif %}> <span>This is a Legacy Client</span> 
                                            </label>
                                        </div>
                                        <div class="col-8" id="legacy_id">
                                            <label for="legacy_id">Legacy ID </label>
                                            <input type="text" value="{{ formdata.legacy_id|default_if_none:"" }}" class="form-control" name="legacy_id" />
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="registered_name">Registered Name * </label>
                                            <input type="text" class="form-control" name="registered_name" value="{{ formdata.registered_name }}" required />
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="date_of_incorporation">Date of Incorporation * </label>
                                            <input type="date" class="form-control" name="date_of_incorporation" value="{{ formdata.date_of_incorporation|date:'Y-m-d' }}" required />
                                        </div>
                                        <div class="col">
                                            <label for="country_of_incorporation">Country of Incorporation *</label>
                                            <select name="country_of_incorporation" class="form-control" required>
                                                {% if form_purpose == "new" %}
                                                {% for country in countries %}
                                                <option value="{{ country.id }}" {% if country.country_code == "TT" %} selected{% endif %}>{{ country.country }}</option>
                                                {% endfor %}
                                                {% else %}
                                                {% for country in countries %}
                                                <option value="{{ country.id }}" {% if country.country_code == formdata.country_of_incorporation.country_code %} selected {% endif %}>{{ country.country }}</option>
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="registration_number">Registration Number * </label>
                                            <input type="text" class="form-control" name="registration_number" value="{{ formdata.registration_number }}" required />
                                        </div>
                                        <div class="col">
                                            <label for="bir_number">BIR Number *</label>
                                            <input type="text" name="bir_number" class="form-control" value="{{ formdata.bir_number }}"  required /> 
                                        </div>
                                        <div class="col">
                                            <label for="vat_registration">VAT Registration Number </label>
                                            <input type="text" name="vat_registration" class="form-control" value="{{ formdata.vat_registration|default_if_none:'' }}" /> 
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="parent_company">Parent Company (if applicable) </label>
                                            <input type="text" class="form-control" name="parent_company" value="{{ formdata.parent_company|default_if_none:'' }}" />
                                        </div>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="border my-2 px-2">
                                    <legend class="w-auto px-2"><small>Address Information</small></legend>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="registered_address">Registered Address * </label>
                                            <input type="text" class="form-control" name="registered_address" required value="{{ formdata.registered_address }}" />
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="registered_address2">Registered Address (line 2) </label>
                                            <input type="text" class="form-control" name="registered_address2" value="{{ formdata.registered_address2|default_if_none:'' }}" />
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="registered_city">Registered City * </label>
                                            <input type="text" class="form-control" name="registered_city" value="{{ formdata.registered_city }}" required />
                                        </div>
                                        <div class="col">
                                            <label for="registered_country">Registered Country *</label>
                                            <select name="registered_country" class="form-control" required>
                                                {% if form_purpose == "new" %}
                                                {% for country in countries %}
                                                <option value="{{ country.id }}" {% if country.country_code == "TT" %} selected{% endif %}>{{ country.country }}</option>
                                                {% endfor %}
                                                {% else %}
                                                {% for country in countries %}
                                                <option value="{{ country.id }}" {% if country.country_code == formdata.registered_country.country_code %} selected {% endif %}>{{ country.country }}</option>
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label>
                                                <input type="checkbox" id="mailing_address_chk" class="checkbox" onclick="toggleDivVisibility(this, 'mailing_address')" {% if formdata.mailing_address %}checked{% endif %}> <span>This Corporation has a different mailing address</span> 
                                            </label>
                                        </div>
                                    </div>
                                    <div id="mailing_address">
                                        <div class="row mb-2">
                                            <div class="col g-1">
                                                <label for="mailing_address">Mailing Address </label>
                                                <input type="text" class="form-control" name="mailing_address" value="{{ formdata.mailing_address|default_if_none:'' }}" />
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col g-1">
                                                <label for="mailing_address2">Mailing Address (line 2) </label>
                                                <input type="text" class="form-control" name="mailing_address2" value="{{ formdata.mailing_address2|default_if_none:'' }}" />
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col">
                                                <label for="mailing_city">Mailing City </label>
                                                <input type="text" class="form-control" name="mailing_city" value="{{ formdata.mailing_city|default_if_none:'' }}" />
                                            </div>
                                            <div class="col">
                                                <label for="mailing_country">Mailing Country </label>
                                                <select name="mailing_country" class="form-control">
                                                    {% if form_purpose == "new" %}
                                                    {% for country in countries %}
                                                    <option value="{{ country.id }}" {% if country.country_code == "TT" %} selected{% endif %}>{{ country.country }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    {% for country in countries %}
                                                    <option value="{{ country.id }}" {% if country.country_code == formdata.mailing_country.country_code %} selected {% endif %}>{{ country.country }}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                                                
                                <fieldset class="border my-2 px-2">
                                    <legend class="w-auto px-2"><small>Contact Information</small></legend>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="contact_person">Contact Person *</label>
                                            <input type="text" name="contact_person" class="form-control" value="{{ formdata.contact_person }}" required /> 
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="primary_phone">Primary Phone *</label>
                                            <input type="text" name="primary_phone" class="form-control" value="{{ formdata.primary_phone }}" required /> 
                                        </div>
                                        <div class="col">
                                            <label for="secondary_phone">Secondary Phone </label>
                                            <input type="text" name="secondary_phone" class="form-control" value="{{ formdata.secondary_phone|default_if_none:'' }}" /> 
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="email">Business Email * </label>
                                            <input type="email" class="form-control" name="email" value="{{ formdata.email }}" required />
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="website">Business Website Address </label>
                                            <input type="text" class="form-control" name="website" value="{{ formdata.website|default_if_none:'' }}" />
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>Preferred method of contact</label>
                                        </div>
                                        <div class="col-2">
                                            <label>
                                                <input type="hidden" value="off" name="telephone_preferred">
                                                <input type="checkbox" class="checkbox" name="telephone_preferred" {% if formdata.telephone_preferred %} checked {% endif %}> <span>Telephone</span> 
                                            </label>
                                        </div>
                                        <div class="col-2">
                                            <label>
                                                <input type="hidden" value="off" name="email_preferred">
                                                <input type="checkbox" class="checkbox" name="email_preferred" {% if formdata.email_preferred %} checked {% endif %}> <span>Email</span> 
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="border my-2 px-2">
                                    <legend class="w-auto px-2"><small>Type of Business</small></legend>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="entity_type">Entity Type *</label>
                                            <select name="entity_type" class="form-control" required> 
                                                {% for ent_type in entity_types %}
                                                <option value="{{ ent_type.0 }}" {% if ent_type.0 == id_info.ent_type.id %} selected {% endif %}>{{ ent_type.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="business_type">Type of Business * </label>
                                            <input type="text" name="business_type" class="form-control" value="{{ formdata.business_type }}" required /> 
                                        </div>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="border my-2 px-2">
                                    <legend class="w-auto px-2"><small>Other Information</small></legend>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>
                                                <input type="hidden" value="off" name="politically_exposed">
                                                <input type="checkbox" class="checkbox" name="politically_exposed" onclick="toggleDivVisibility(this, 'political_details')" {% if formdata.politically_exposed %} checked {% endif %}> <span>Client is politically exposed</span> 
                                            </label>
                                        </div>
                                        <div class="col-8" id="political_details">
                                            <label for="political_details">Details of poltical exposure </label>
                                            <input type="text" value="{{ formdata.political_details|default_if_none:"" }}" class="form-control" name="political_details" />
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label for="transaction_frequency">Transaction Frequency *</label>
                                            <select name="transaction_frequency" class="form-control" required> 
                                                {% for freq in trans_freq %}
                                                <option value="{{ freq.0 }}"{% if freq.0 == formdata.transaction_frequency %} selected {% endif %}>{{ freq.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <button type="submit" class="btn btn-lg btn-primary py-1 px-3">Submit</button>

                            </form>
                            <!-- end form for validations -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script src="{% static "js/utils.js" %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Hide the div by default
        const toggle_divs = ["legacy_id", "mailing_address", "political_details"];
        toggle_divs.forEach(divId => {
            const div = document.getElementById(divId);
            div.style.display = "none";
        });
        toggle_divs.forEach(divId => {
            const checkbox = document.getElementById(divId + "_chk");
            toggleDivVisibility(checkbox, divId);
        });
    });
        
    
    function add_id_entry() {
        console.log("clicked");
        var id_entry_div = document.createElement('div');
        id_entry_div.className = "alert alert-light alert-dismissible fade show";
        id_entry_div.setAttribute("role", "presentation");
        var inner_div =  `
                <div class="row">
                    <div class="col">
                        <label for="id_type">Identification Type *</label>
                        <select name="id_type" class="form-control" required>
                            {% for id_type in id_types %}
                            <option value="{{ id_type.id }}">{{ id_type.id_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="id_number">Identification Number</label>
                        <input type="text" class="form-control" name="id_number" />
                    </div>
                    <div class="col">
                        <label for="id_country">Country *</label>
                        <select name="id_country" class="form-control" required>
                            {% for country in countries %}
                            <option value="{{ country.id }}" {% if country.country_code == "TT" %} selected{% endif %}>{{ country.country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="issue_date">Issue Date </label>
                        <input type="date" class="form-control" name="issue_date" />
                    </div>
                    <div class="col">
                        <label for="expiry_date">Expiry Date * </label>
                        <input type="date" class="form-control" name="expiry_date" required />
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>`;
            id_entry_div.innerHTML = inner_div;
            const entries_div = document.getElementById("id_entries"); 
            entries_div.appendChild(id_entry_div);
        }


</script>
{% endblock script %}
