{% extends "layout/base.html" %}

{% block title %} - {{ page_title }}{% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="container">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content mx-5">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <fieldset class="border my-2 px-2">
                                    <legend class="w-auto px-2"><small>Update Password</small></legend>

                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="current_password">Current Password:</label>
                                            <input type="password" class="form-control" name="current_password" required>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="new_password">New Password:</label>
                                            <input type="password" class="form-control" name="new_password" required>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col g-1">
                                            <label for="confirm_password">Confirm New Password:</label>
                                            <input type="password" class="form-control" name="confirm_password" required>
                                        </div>
                                    </div>
                                </fieldset>
                                
                                <button class="btn btn-lg btn-primary" type="submit">Change Password</button>

                            </form>
                            <!-- end form for validations -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}