{% extends "layout/base.html" %}
{% block title %} - {{ page_title }}{% endblock title %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="" method="post">
                                {% csrf_token %}
                                <fieldset class="border my-2 px-2">
                                    <legend class="w-auto px-2"><small>Bank Fee</small></legend>
                                    <div class="row mb-2">
                                        <div class="col-6">
                                            <label for="bank_fee">Bank Fee * </label>
                                            <input type="text" value="{{ formdata.bank_fee }}" class="form-control" name="bank_fee" required />
                                        </div>
                                        <div class="col-6">
                                        </div>
                                    </div>
                                </fieldset>
                                <button type="submit" class="btn btn-lg btn-primary py-1 px-3">Submit</button>
                            </form>
                            <!-- end form for validations -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

